*{
    margin: 0 0px;
    padding: 0 0px;
}

body {
    background-color: azure;
}

.imagem7 {
    width: 7%;
}

.imagem10 {
    width: 10%;
}

.imagem20 {
    width: 20%;
}

.cabecalho {
    background-color: rgba(0, 0, 255, 0.712);
    font-size: 30px;
    text-align: center;
    margin: 24 24px;
    padding: 24 24px;
    display: flex;
}

.titulo {
    padding: 60 60px;
}

.parte1 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.712),azure);
    display: inline-block;
    padding: 24 24px;
    justify-content: center;
}