*{
    margin: 0 0px;
    padding: 0 0px;
}

body {
    background-color: azure;
}

.imagem10 {
    width: 10%;
}

.imagem20 {
    width: 20%;
}

.cabecalho {
    background-color: rgba(0, 0, 255, 0.712);
    font-size: 30px;
    text-align: center;
    margin: 2 2px;
    padding: 2 2px;
    display: flex;
}

.parte1 {
    display: flex;
    justify-content: space-around;
    padding: 2 2px;
}