*{
    margin: 0 0px;
    padding: 0 0px;
}

body {
    background-color: azure;
}

.cabecalho {
    background-color: rgba(0, 0, 255, 0.712);
    display: flex;
    justify-content: space-around;
    padding: 24 24px;
}

.cabecalho-imagem {
    width: 7%;
}

.titulo {
    font-size: 40px;
    color: blanchedalmond;
    margin: 60 60px;
}

.parte1 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.712),azure);
    display: inline-block;
    padding: 24 24px;
    justify-content: center;
}

.imagem7 {
    width: 7%;
}

.imagem10 {
    width: 10%;
}
